<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping list</a>
      </li>
    </ul>
    <span class="dropdown" appDropdown>
        <span class="nav-link" style="cursor: pointer" role="button">
          Manage
        </span>
        <ul class="dropdown-menu">
          <li class="dropdown-item">Save data</li>
          <li class="dropdown-item">Fetch data</li>
        </ul>
    </span>
  </div>
</nav>
